<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="bt" id="home" href="index.php">Home</a></li>
        <li class="breadcrumb-item"><a class="bt" id="page" href="page.php">Page</a></li>
        <li class="breadcrumb-item"><a class="bt" id="logout" href="logout">Logout</a></li>
        <li class="breadcrumb-item"><a class="bt" id="truncate" href="#">Truncate</a></li>
    </ol>
</nav>

<h1>Home</h1>
<div id="message-container">
    <p>Bentornato</p>
</div>



