<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="bt" id="home" href="index.php">Home</a></li>
        <li class="breadcrumb-item"><a class="bt" id="page" href="page.php">Page</a></li>
        <li class="breadcrumb-item"><a class="bt" id="logout" href="logout">Logout</a></li>
        <li class="breadcrumb-item"><a class="bt" id="truncate" href="#">Truncate</a></li>
    </ol>
</nav>

<h1>Home</h1>
<form id="form-signin">
    <div class="form-group">
        <label for="emailcheck">Email address</label>
        <input type="email" class="form-control" id="emailcheck" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="username">
    </div>
    <button type="submit" class="btn btn-primary bt" id="pass-emailcheck">recupera password</button>
</form>



